{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
  <div class="mb-3 col-md-4 mx-auto form-floating">
    <select class="form-select" name="Symbol" placeholder=Symbol id="symbolSelect">
      <option disabled="" selected></option>
      {% for stock in stocks %}
      <option value="{{ stock["stock_symbol"] }}">{{ stock["stock_symbol"] }}</option>
      {% endfor %}
    </select>
    <label for="symbolSelect">Symbol</label>
  </div>
  <div class="form-floating mb-3 col-md-4 mx-auto">
    <input class="form-control" name="amount" placeholder="Shares" type="number" min="1" id="sharesSelect">
    <label for="sharesSelect">Shares</label>
  </div>
  <input class="btn btn-primary btn-lg" type="submit" value="Sell">
</form>
{% endblock %}